DDSmessage/build/*
swig/ICDWrapperCpp/build/*

swig/ICDWrapperCsharp/obj/*
swig/ICDWrapperCsharp/bin/*
Csharp/PublisherApp/bin/*
Csharp/SubscriberApp/bin/*
Csharp/PublisherApp/obj/*
Csharp/SubscriberApp/obj/*
Csharp/HelloWorldDemo/bin/*
Csharp/HelloWorldDemo/obj/*
Csharp/StructPublisher/bin/*

Csharp/StructPublisher/obj/*
Csharp/StructSubscriber/bin/*
Csharp/StructSubscriber/obj/*
nodejs/node_modules/*

nodejs/build/*
swig/ICDWrapperPython/__pycache__/*
swig/ICDWrapperPython/build/*
swig/ICDWrapperPython/_ICDWrapper.cp312-win_amd64.pyd
